* {
  margin: 0px;
  font-family: "coolveticaregular";
}

body {
  margin: 20px;
}

@font-face {
  font-family: "coolveticaregular";
  src: url("coolvetica_rg-webfont.woff2") format("woff2"),
    url("coolvetica_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: rgb(69, 190, 65);
}

a:hover {
  color: rgb(179, 73, 87);
}
