@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
s * {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 20px;
}

a {
  color: rgb(69, 190, 65);
}

a:hover {
  color: rgb(179, 73, 87);
}
