@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 20px;
}

a {
  color: rgb(69, 190, 65);
  display: inline-block;
}

a:hover {
  color: rgb(179, 73, 87);
}

a:nth-child(3) {
  color: rgb(223, 180, 41);
}
a:nth-child(4) {
  color: rgb(150, 150, 150);
}

a:nth-child(5) {
  color: rgb(82, 100, 160);
}

a:nth-child(6) {
  color: rgb(41, 131, 204);
}
